.root {
    z-index: 198;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (min-width: $mantine-breakpoint-xl) {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
}

.logoLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    color: var(--mantine-color-dimmed);
    text-decoration: none;
}

.logoIcon {
    display: block;
    width: 1.35rem;
    height: 1.35rem;
}
