@layer mantine, mantine-datatable;

html,
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
}

body {
    overflow: hidden;
}

#root {
    height: 100dvh;
    min-height: 100dvh;

    @mixin dark {
        .mrt-table-head-sort-button {
            border-radius: 0;
            border: none;
        }
        .mrt-table-head-cell-filter-label-icon {
            border-radius: 0;
            border: none;
        }
    }
}

